---
layout: layout.html
---
<wa-page>
  <header slot="header" style="background-color: black;">
    <img src="/assets/images/star-wars-unlimited-logo.webp" width="88" height="64" />
  </header>
  <div slot="main-header" style="justify-content: center;">
    <h2><wa-avatar image="/assets/images/logo.png"></wa-avatar> supercodepoet's decks</h2>
  </div>
  <main class="wa-body-m">
    <div class="wa-stack wa-gap-m wa-align-items-center">
      {% for deck in decks %}
      <wa-details style="min-width: 450px;">
        <span slot="summary">
          <wa-icon name="{{ deck.icon }}"></wa-icon> {{ deck.name }}
        </span>
        <div class="wa-stack wa-gap-s">
          <dl>
            {% for item in deck.list %}
              <dt>{{ item.name }}</dt>
              <dd>
                <div class="wa-flank:end">
                  <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
                  <wa-copy-button slot="icon" value="{{ item.url }}"></wa-copy-button>
                </div>
              </dd>
            {% endfor %}
          </dt>
        </div>
      </wa-details>
      {% endfor %}
    </div>
  </main>
</wa-page>