---
layout: layout.html
---
<wa-page>
  <header slot="header" style="background-color: black;">
    <img src="/assets/images/star-wars-unlimited-logo.webp" width="88" height="64" />
  </header>
  <main class="wa-body-m">
    <div class="wa-align-items-center">
      <wa-callout variant="warning">
        When playing on <a href="https://petranaki.net" target="_blank">Petranaki</a>, use the SWU Stats link. By using that
        link, it will aggregate stats for the deck.
      </wa-callout>
    {% for deck in decks %}
      <wa-details open>
        <div slot="summary">
          <h4><wa-icon name="{{ deck.icon }}"></wa-icon> {{ deck.name }}</h4>
        </div>
        <ul>
        {% for item in deck.list %}
          <li>
            <a href="{{ item.swudb }}" target="_blank">{{ item.name }}</a> -
            <wa-copy-button value="{{ item.swustats }}" copy-label="SWU Stats"></wa-copy-button>
          </li>
        {% endfor %}
        </ul>
      </wa-details>
    {% endfor %}
    </div>
  </main>
</wa-page>