<!DOCTYPE html>
<html lang="en" class="wa-theme-tailspin wa-palette-vogue wa-brand-indigo">
  <head>
    <title>supercodepoet</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Travis Chase" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/themes/tailspin.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/color/palettes/default.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="/assets/css/site.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/webawesome.loader.js" data-fa-kit-code="6604d8c294"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>